version: '3.8'

services:
  # 1. GATEWAY (Nginx with SSL)
  nginx-proxy:
    image: nginx:latest
    container_name: nginx-gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx-selfsigned.crt:/etc/nginx/ssl/nginx-selfsigned.crt:ro
      - ./nginx-selfsigned.key:/etc/nginx/ssl/nginx-selfsigned.key:ro
    depends_on:
      - web-app
    networks:
      - monitoring-network
      - app-network

  # 2. APPLICATION (Node.js)
  web-app:
    build: .
    container_name: node-app
    environment:
      - MONGO_URI=mongodb://database:27017/my_db
    depends_on:
      - database
    networks:
      - monitoring-network
      - app-network

  # 3. DATABASE (MongoDB)
  database:
    image: mongo:latest
    container_name: mongodb-server
    volumes:
      - D:/hello-docker/frontend/mongo-data:/data/db
    networks:
      - app-network

  # 4. DATABASE UI
  mongo-express:
    image: mongo-express:latest
    container_name: mongo-ui
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=database
      - ME_CONFIG_BASICAUTH_USERNAME=rajesh
      - ME_CONFIG_BASICAUTH_PASSWORD=docker123
    depends_on:
      - database
    networks:
      - app-network

  # 5. MONITORING: Prometheus (Metrics Collector)
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring-network

  # 6. VISUALIZATION: Grafana (The Dashboard)
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring-network

networks:
  app-network:
    driver: bridge
  monitoring-network:
    driver: bridge